@import "materialize";

.p-8 {
  padding-left: 8px;
  padding-right: 8px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.jump:hover{
  box-shadow: #a0a0a0 3px 3px 4px 4px;
}