<header>
  <nav>
    <div class="nav-wrapper indigo darken-2">
      <div class="container">
        <a href="" class="brand-logo">Tech University</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'New Courses', courses_new_path %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>